@charset "utf-8";
#damage{
    border: solid 2px black;
    width: 500px;
    height: 50px;

    text-align: left;
    line-height: 20px;
    font-weight: bold;
    font-size: 20px;
}
#picture{
    border: solid 2px black;
    width: 378px;
    padding-left: 120px;
    margin: 10px 0 10px 0;
}
table, tr, th{
    border: 2px black solid;
    width: 500px;
}
button{
    width: 100%;
}
#hpANDmp{
    margin-top: 10px;
}
#hp{
    height: 100%;
}
#mp{
    height: 100%;
}
#pic{
    width: 200px;
}